:root {
  --primary-color: #191E3B;
  --secondary-color: #006ED6;
}

body {
  background-color: #F7F7F8;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
  padding-left: 3%;
  padding-right: 3%;
  width: auto;
  margin-top: 0px;
}

header>h1 {
  font-family: "Inter", sans-serif;
  color: var(--secondary-color);
  font-weight: normal;

}

header>h1>span {
  font-size: small;
  vertical-align: super;
}

.item :hover {
  color: var(--secondary-color)
}

nav li {

  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}

nav li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
  font-size: small;
}

nav li a i {
  color: var(--secondary-color);
}

ul>button {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 1.4px solid rgba(128, 128, 128, 0.235);

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;

}

ul>button:hover {
  background-color: #006fd61f;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8%;
  padding-right: 8%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('heror-cover.avif');
  position: relative;
  height: 580px;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* dark semi-transparent overlay */
  z-index: 1;
}

main>h1 {
  font-family: "Chiron Sung HK", serif;
  color: #FFFFFF;
  z-index: 2;

}

main>div {
  z-index: 2;
}

.itemmain {
  display: flex;
  flex-direction: row;
  background-color: #F7F7F8;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  gap: 20px;
  width: 100%;
}

.itemmain div {
  width: 30%;
}

.itemmain div button {
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  color: var(--primary-color);
  padding: 10px;
  /* padding-right: 30px; */
  width: 100%;
  padding-right: 40px;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}

.itemmain div button i {
  font-size: large;
}

.itemmain > button {
  border-radius: 30px;
  color: #FFFFFF;
  background-color: var(--secondary-color);
  border: none;
  padding-right: 5px;
  width: 100px;
  font-size: 16px;
  height: 100%;
}

.itemsub2 {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: left;
  /* align-content: left;  */
}
.itemsub2 p{
  width: 200px;
  margin: 0;
}
.itemsub0{
  
}
.itemsub0 button{
  padding: 20px 0;
  height: 57px;
}

.itemsub1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.itemsub3{
  display:flex;
  flex-direction:row;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color:#FFFFFF;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  
}

.itemsub3 > button{
  background-color: var(--secondary-color);
  color:#FFFFFF;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

}

.itemsub4{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color:#FFFFFF;
  background-color: var(--secondary-color);

  padding: 10px;
  width:170px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: small;
}
.itemsub5{
  display:flex;
  flex-direction: row;
  height: 130px;
 
}

.itemsub6{
  background-image: url('22.jpg');
  background-size: cover;
  background-position: center;
  width: 200px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

body >h2{
  font-family: "Poppins", sans-serif;
  font-size:25px;
  color:var(--primary-color);
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 0px;
}

body >h4{
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-left: 30px;
  color:var(--primary-color);
  font-weight: normal;
  margin-top: 0px;
}

body h4 span{
  font-weight: bold;
  
}
.container1{
  background-image: url('22.jpg');
  background-size: cover;
  background-position: center;
  min-width: 220px;
  height:280px;
  border-radius: 18px;
  color:#FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 5px;
  padding-bottom: 5px;
  
}
.container2{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  overflow-x: scroll;
  gap:30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 28px;
  scrollbar-width: none;
}

.container3{
   background-image: url('33.jpg');
   background-size: cover;
   background-position: center;
   color:rgba(0, 0, 0, 0.642);
   min-width: 300px;
   min-height: 100px;
   width: 300px;
   height: 200px;
   font-size: 30px;
   border-radius: 20px;
   display: flex;
   flex-direction:row;
   justify-content: space-between;
   align-items: center;
   padding-left: 5px;
   padding-right: 5px;
}
.container4{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 4px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color:var(--primary-color);
  font-size:small;
  margin:0px 0px;
  margin-bottom: 0px;

}

.container4 >button{
  background-color: #227950;
  border: none;
  border-radius: 2px;
  height:fit-content;
  padding: 3px 5px ;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight:bold;
  font-size:small;

}

.container5{
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  max-width: 299px;
  margin:0px 0px;
  margin-top: 0px;
  
  padding-top: 0%;
}
.container5 h3{
  font-size:15px;
  font-weight: bold;
  margin-bottom: 0px;
}
.container5 h4{
  font-size: small;
  font-weight: 400;
  margin-top: 0px;
}

.container5 h5{
  margin-top: 0px;
  font-size: x-small;
  font-weight:300;
}
.container6{
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  max-width: 299px;
  margin:0px 0px;
  margin-top: 0px;
  
  padding-top: 0px;
}
.container6 h3{
  font-size:15px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-top: 0px;
}
.container6 h5{
  margin-top: 0px;
  font-size: x-small;
  font-weight:300;
  margin-top: 0px;
  padding-top: 0px;
}

.overall{
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  /* gap:2px; */
  
  max-width: 310px;
  justify-content: space-between;
  gap:0px;
  max-height:400px;
  
}
.overall1{
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left: 30px;
  margin-right: 30px;
  gap:13px;
  scrollbar-width: none;
}
/* 
.chiron-sung-hk-<uniquifier> {
  font-family: "Chiron Sung HK", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */